<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886292516310-i4k8pa5s56mjk214ftb288pm04f0v0uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886292516310-i4k8pa5s56mjk214ftb288pm04f0v0uv</string>
	<key>API_KEY</key>
	<string>AIzaSyBLQWHTaj-F-aQZeHELC8oQsHvANj5iJaU</string>
	<key>GCM_SENDER_ID</key>
	<string>886292516310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chan.calbak.calbak-auth-proto</string>
	<key>PROJECT_ID</key>
	<string>calbak-auth-proto</string>
	<key>STORAGE_BUCKET</key>
	<string>calbak-auth-proto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886292516310:ios:1cd3f1bb3604dad122e877</string>
	<key>DATABASE_URL</key>
	<string>https://calbak-auth-proto-default-rtdb.firebaseio.com</string>
</dict>
</plist>